@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f0eaf8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --text-color: #000853;
  --secondaryTextColor: #761be4;
  --label-font-size: 16px;
  --label-line-height: 19.36px;

  --default-border-color: #cbb6e5;
  --active-border-color: #761be4;
  --error-border-color: #ed4545;

  --default-backround-color: #ffffff;
  --active-backround-color: #faf9fa;
  --error-backround-color: #feecec;

  --inactive-button-color: #cbb6e5;
  --default-button-color: #761be4;
  --hover-button-color: #6a19cd;
}

input,
label {
  display: block;
}
